*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f2f2;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}
@font-face{
    font-family: logoFont;
    src: url('../font/SQUIC___.TTF');
}
.wzd-header{
    width: 100%;
    height: 350px;
    background: url(../img/01.jpg);
}
.wzd-header-menu{
    width: 100%;
    height: 48px;
    background-color: rgb(255,255,255);
}
.menu{
    width: 900px;
    height: 100%;
    margin: 0 auto;
}
.menu .logo{
    display: inline-block;
    float: left;
    font-family: logoFont;
    font-size: 38px;
}
.menu li{
    width: 100px;
    height: 39px;
    float: right;
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    padding-top: 9px;
}
.menu li:hover{
    background-color: #12b7f5;
}
.menu li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #34302d;
}
.context{
    width: 900px;
    margin: 0 auto;
}
.article-list{
    width: 860px;
    min-height: 400px;
    padding: 0 20px 0 20px;
    margin-top: 20px;
    background-color: #fff;
}
.article{
    width: 100%;
    height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.article-img{
    width: 180px;
    height: 180px;
    padding: 4px;
    border: 1px solid #f4f2f2;
    margin: 5px;
    max-width: 180px;
    max-height: 180px;
}
.article-introduction{
    width: 650px;
    height: 180px;
    float: right;
    margin:10px 5px 10px 0;
    overflow: hidden;
}
.article-title{
    width: 100%;
    height: 39px;
    line-height: 39px;
    font-size: 24px;
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
}
.article-title a{
    text-decoration: none;
    color: #444;
}
.introduction{
    width: 100%;
    height: 102px;
    margin: 4px 0 4px 0;
    overflow: hidden;
    font-size: 14px;
    color: #756F71;
}
.introduction a{
    text-decoration: none;
    color: #aaa;
}
.article-inf{
    width: 100%;
    height: 30px;
    background: #e0e6ed;
    line-height: 30px;
    font-size: 14px;
    color: #756F71;
}
.article-inf .author,.article-inf .date,.article-inf .views{
    margin-left: 8px;
}
.page{
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 18px;
}
.page a{
    text-decoration: none;
    color: #000;
}
.footer{
    width: 100%;
    height: 300px;
    background: #1f2024;
    margin-top: 20px;
}